<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Welcome, to your admin Page</p>
<form method="post" action="{% url 'admin' %}"> 
{% csrf_token %}
    

    <table>
   <tr><th>Name</th><th>Email</th><th>Role</th><th>Actions</th></tr>
   <tr>
         <td><input type="text" name="name" value=""></td>
         <td><input type="text" name="email" value=""></td>
         <td><input type="text" name="role" value=""></td>
         <td><button name = "save">Save</button></td>
   </tr>
    {% for user in users %}
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.status}}</td>
            <td><button name = "save">Save</button></td>
            <td><button name = "delete">Delete</button></td>
        </tr>
    {% endfor %}

</table>
</form>

<p>{{userID.name}}</p>
</body>
</html>
