{% if user_role == "Admin" %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_dashboard' %}">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'upload_signature' %}">Manage Signature</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'submit_rce' %}">Submit RCE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
{% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user' %}">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
{% endif %} 